@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Roboto Slab';
		font-style: normal;
		font-weight: 300;
		font-display: swap;
		src: url('/fonts/RobotoSlab-Light.ttf');
	}

	@font-face {
		font-family: 'Roboto Slab';
		font-style: normal;
		font-weight: 400;
		font-display: swap;
		src: url('/fonts/RobotoSlab-Regular.ttf');
	}

	@font-face {
		font-family: 'Roboto Slab';
		font-style: normal;
		font-weight: 600;
		font-display: swap;
		src: url('/fonts/RobotoSlab-SemiBold.ttf');
	}

	@font-face {
		font-family: 'Roboto Slab';
		font-style: normal;
		font-weight: 700;
		font-display: swap;
		src: url('/fonts/RobotoSlab-Bold.ttf');
	}
}
